@using Microsoft.AspNetCore.Identity
@using Tickest.Enums
@using Tickest.Helpers
@using Tickest.Models.ViewModels;
@using Tickest.Models.Entities;
@model TicketViewModel
@inject UserManager<Usuario> userManager

@{
    var user = await userManager.FindByEmailAsync(User.Identity.Name);

    if (await userManager.IsInRoleAsync(user, "Gerenciador"))
    {
        Layout = "_LayoutGerenciador";
    }
    else if (await userManager.IsInRoleAsync(user, "Cliente"))
    {
        Layout = "_LayoutCliente";
    }
    else
    {
        Layout = "_Layout";
    }
}

<style>
    .fa {
        color: red;
        font-size: 20px;
        margin-left: 3px;
    }

    .name {
        margin: 3px;
        color: #696cff !important;
    }
</style>

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <form method="post" enctype="multipart/form-data">
                <!-- Basic -->
                <div class="col-md-6">
                    <div class="card mb-4">
                        <h5 class="card-header">Criação de Ticket</h5>
                        <div class="card-body demo-vertical-spacing demo-only-element">

                            <div class="mb-3">
                                <label asp-for="Ticket.Titulo" class="form-label">Título</label>
                                <input asp-for="Ticket.Titulo" class="form-control" />
                            </div>

                            <div class="mb-3">
                                <label asp-for="Ticket.Prioridade" class="form-label">Prioridade</label>
                                <select asp-for="Ticket.Prioridade" class="form-select" aria-label="Prioridade">
                                    <option value="">Escolha...</option>
                                    @foreach (TicketPrioridadeEnum prioridade in Enum.GetValues(typeof(TicketPrioridadeEnum)))
                                    {
                                        <option value="@((int)prioridade)">@prioridade.GetDisplayName()</option>
                                    }
                                </select>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Ticket.Status" class="form-label">Status</label>
                                <select asp-for="Ticket.Status" class="form-select" aria-label="Status">
                                    <option value="">Escolha...</option>
                                    @foreach (TicketStatusEnum status in Enum.GetValues(typeof(TicketStatusEnum)))
                                    {
                                        <option value="@((int)status)">@status.GetDisplayName()</option>
                                    }
                                </select>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Ticket.Descricao" class="form-label">Descrição</label>
                                <textarea asp-for="Ticket.Descricao" class="form-control" rows="4"></textarea>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Ticket.DepartamentoId" class="form-label">Departamento</label>
                                <select asp-for="Ticket.DepartamentoId" class="form-select">
                                    <option value="">Escolha...</option>
                                    @foreach (var departamento in Model.Departamentos)
                                    {
                                        <option value="@departamento.Id">@departamento.Nome</option>
                                    }
                                </select>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Ticket.EspecialidadeId" class="form-label" style="display:none">Especialidade</label>
                                <select asp-for="Ticket.EspecialidadeId" class="form-select" id="Especialidades" style="display:none">
                                    <option value="">Escolha...</option>
                                    @foreach (var especialidade in Model.Especialidades)
                                    {
                                        <option value="@especialidade.Id">@especialidade.Nome</option>
                                    }
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="formFileMultiple" class="form-label">Anexos</label>
                                <div id="files"></div>
                                <input id="anexo" class="form-control d-none" type="file" name="files" multiple />
                                <button id="btn-anexo" type="button" class="btn btn-primary"><i class="fas fa-attach"></i> Anexar Arquivos</button>
                            </div>

                            <button type="submit" class="btn btn-primary">Criar Ticket</button>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var dt = new DataTransfer();

        $(document).ready(function () {
            $('#anexo').change(function () {
                $("#files").html("");
                for (var i = 0; i < this.files.length; i++) {
                    var file = this.files[i];
                    dt.items.add(file);
                }
                this.files = dt.files;

                for (var i = 0; i < this.files.length; i++) {
                    var file = this.files[i];
                    var name = file.name.toLowerCase();
                    var html = '<div><span>' + name + '</span><i class="fa fa-times" onclick="delRef(' + i + ')" aria-hidden="true"></i></div>';
                    $("#files").append(html);
                }
            });

            $("#btn-anexo").click(function () {
                $("#anexo").click();
            });
        });

        function delRef(index) {
            dt.items.remove(index);
            $("#files div").eq(index).remove();
        }

        document.getElementById("Departamentos").addEventListener("change", function () {
            var DepId = this.value;
            var Areas = document.getElementById("Especialidades");

            Areas.innerHTML = '';

        @foreach (var especialidade in Model.Especialidades)
        {
            <text>
                                if (DepId == "@especialidade.DepartamentoId") {
                    Areas.innerHTML += '<option value="@especialidade.Id">@especialidade.Nome</option>';
                }
            </text>
        }

                Areas.style.display = DepId ? "block" : "none";
            document.getElementById("AreaLabel").style.display = DepId ? "block" : "none";
        });
    </script>
}
