@model Tickest.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Título)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Título)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descrição)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descrição)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_Criação)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_Criação)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_Limite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_Limite)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
