@using Microsoft.AspNetCore.Identity;
@model Tickest.Models.ViewModels.TicketViewModel
@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "Tickest - Tickets Criados";

    var user = await userManager.FindByEmailAsync(User.Identity.Name);

    if (await userManager.IsInRoleAsync(user, "Gerenciador"))
        Layout = "_LayoutGerenciador";

    else if (await userManager.IsInRoleAsync(user, "Responsavel"))
        Layout = "_LayoutResponsavel";

    else if (await userManager.IsInRoleAsync(user, "Desenvolvedor"))
        Layout = "_Layout";
}
<style>
    .modal-body {
        background-color: #fff;
        border-color: #fff;
    }

    .d-flex1 {
        display: flex !important;
        flex-wrap: wrap !important;
        word-break: break-all; /*  */
        word-wrap: break-word; /* if you want to cut the complete word */
        white-space: normal;
    }

    .close {
        color: #000;
        cursor: pointer;
    }

        .close:hover {
            color: #000;
        }


    .theme-color {
        flex-wrap: wrap !important;
        color: #004cb9;
        word-break: break-all; /*  */
        word-wrap: break-word; /* if you want to cut the complete word */
        white-space: normal;
    }

    hr.new1 {
        border-top: 2px dashed #fff;
        margin: 0.4rem 0;
    }


    .btn-primary {
        color: #fff;
        background-color: #004cb9;
        border-color: #004cb9;
        padding: 12px;
        padding-right: 30px;
        padding-left: 30px;
        border-radius: 1px;
        font-size: 17px;
    }


        .btn-primary:hover {
            color: #fff;
            background-color: #004cb9;
            border-color: #004cb9;
            padding: 12px;
            padding-right: 30px;
            padding-left: 30px;
            border-radius: 1px;
            font-size: 17px;
        }
</style>

<div class="row">
    <div class="col-12 col-lg-12 order-2 order-md-3 order-lg-2 mb-4">
        <div class="card">
            <div class="row row-bordered g-0">
                <h5 class="card-title text-primary m-4">Tickets Criados</h5>
                <div class="card">
                    <div class="table-responsive text-nowrap p-4">
                        <table class="table table-hover" id="Tickets">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Título</th>
                                    <th scope="col">Departamento</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Ação</th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                                @foreach (var ticket in Model.Tickets)
                                {
                                    <tr>
                                        <td><strong>#@ticket.Id</strong></td>
                                        <td><strong>@ticket.Título</strong></td>
                                        <td>@ticket.Departamento.Nome</td>
                                        <td><span class="badge bg-label-dark me-1">@ticket.Status</span></td>
                                        <td>
                                            <!-- Botão -->
                                            <button type="button" class="btn btn" data-bs-toggle="modal" data-bs-target="#modalScrollable-@ticket.Id">
                                                Ver mais
                                            </button>
                                            <!-- Informação -->
                                            <div class="modal fade" id="modalScrollable-@ticket.Id" tabindex="-1" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-body ">
                                                            <div class="text-right"> <i class="fa fa-close close" data-bs-dismiss="modal" aria-label="Close" data-dismiss="modal"></i> </div>

                                                            <div class="px-4 py-5">

                                                                <h5 class="text-uppercase">#@ticket.Id</h5>
                                                                <h4 class="mt-5 theme-color mb-5">@ticket.Título</h4>

                                                                <div class="d-flex1 justify-content-between">
                                                                    <span class="theme-color">@ticket.Descrição</span>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <hr class="new1">
                                                                </div>
                                                                <div class="d-flex1 justify-content-between">
                                                                    <span class="font-weight-bold">Criado Em:</span>
                                                                    <span class="text-muted">@ticket.Data_Criação</span>
                                                                </div>
                                                                <div class="d-flex1 justify-content-between">
                                                                    <span class="font-weight-bold">
                                                                        Prioridade
                                                                    </span>
                                                                    <span class="text-muted">@ticket.Prioridade</span>
                                                                </div>

                                                                <div class="d-flex1 justify-content-between">
                                                                    <span class="font-weight-bold">
                                                                        Status
                                                                    </span>
                                                                    <span class="text-muted">@ticket.Status</span>
                                                                </div>
                                                                <div class="d-flex1 justify-content-between">
                                                                    <span class="font-weight-bold">
                                                                        Enviado por:
                                                                    </span>
                                                                    <span class="text-muted">@ticket.Usuario.Nome (@ticket.Usuario.Email)</span>
                                                                </div>
                                                                <div class="d-flex1 justify-content-between">
                                                                    <span class="font-weight-bold">
                                                                        Departamento:
                                                                    </span>
                                                                    <span class="text-muted">@ticket.Departamento.Nome</span>
                                                                </div>
                                                                <div class="mt-3">
                                                                    <span class="font-weight-bold">
                                                                        Anexos:
                                                                    </span>
                                                                    <br>
                                                                    @if (ticket.Anexos != null)
                                                                    {
                                                                        @foreach (var anexo in ticket.Anexos)
                                                                        {
                                                                            var name = anexo.Endereco.Substring(anexo.Endereco.IndexOf('/') + 1);

                                                                            <a href="~/@anexo.Endereco" download>@name</a>
                                                                            <br />
                                                                        }
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <div class="text-center mt-5">
                                                                <button class="btn btn-primary">Editar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Informação -->
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        $('#Tickets').DataTable({
            "ordering": true,
            "paging": true,
            "searching": true,
            "oLanguage": {
                "sEmptyTable": "Nenhum registro encontrado na tabela",
                "sInfo": "Mostrar _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrar 0 até 0 de 0 Registros",
                "sInfoFiltered": "(Filtrar de _MAX_ total registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "Mostrar _MENU_ registros por pagina",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",
                "oPaginate": {
                    "sNext": "Proximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Ultimo"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            }
        });
    }
</script>