@model Tickest.Models.ViewModels.TicketViewModel

@using Tickest.Enums;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Tickest - Home";
}

<link rel="stylesheet" href="~/css/chat.css" />

<style>
    .modal-body {
        background-color: #fff;
        border-color: #fff;
    }

    .d-flex1 {
        display: flex !important;
        flex-wrap: wrap !important;
        word-break: break-all;
        word-wrap: break-word;
        white-space: normal;
    }

    .close {
        color: #000;
        cursor: pointer;
    }

        .close:hover {
            color: #000;
        }

    .theme-color {
        flex-wrap: wrap !important;
        color: #004cb9;
        word-break: break-all;
        word-wrap: break-word;
        white-space: normal;
    }

    hr.new1 {
        border-top: 2px dashed #fff;
        margin: 0.4rem 0;
    }
</style>

<div class="row">
    <div class="col-lg-12 mb-4 order-0">
        <div class="card" style="width:100%">
            <div class="d-flex align-items-end row">
                <div class="col-sm-7">
                    <div class="card-body p-4">
                        <h5 class="card-title text-primary">Seja bem-vindo(a) @Model.Usuario.Nome!</h5>
                        <p class="mb-3 mt-5">Tickets em aberto: <span class="fw-bold">@ViewBag.TicketsAberto</span></p>
                        <p class="mb-3">Tickets recebidos esse mês: <span class="fw-bold">@ViewBag.TicketsRecebidos</span></p>
                        <p class="mb-1">Tickets concluídos esse mês: <span class="fw-bold">@ViewBag.TicketConcluidos</span></p>
                    </div>
                </div>
                <div class="col-sm-5 text-center text-sm-left">
                    <div class="card-body pb-0 px-0 px-md-4">
                        <img src="~/img/illustrations/man-with-laptop-light.png" height="140" alt="View Badge User" data-app-dark-img="illustrations/man-with-laptop-dark.png" data-app-light-img="illustrations/man-with-laptop-light.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-12 order-2 order-md-3 order-lg-2 mb-4">
        <div class="card">
            <div class="row row-bordered g-0">
                <h5 class="card-title text-primary m-4">Tickets em Aberto</h5>
                <div class="card">
                    <div class="table-responsive text-nowrap p-4">
                        <table class="table table-hover" id="Tickets">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Título</th>
                                    <th scope="col">Departamento</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Ação</th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                                @foreach (var ticket in Model.Tickets)
                                {
                                    <tr>
                                        <td><strong>#@ticket.Id</strong></td>
                                        <td><strong>@ticket.Titulo</strong></td>
                                        <td>@ticket.Departamento.Nome</td>
                                        <td><span class="badge bg-label-dark me-1">@ticket.Status</span></td>
                                        <td>
                                            <!-- Botão -->
                                            <button type="button" class="btn btn modal-ticket" data-ticket-id="@ticket.Id" data-bs-toggle="modal" data-bs-target="#modalScrollable-@ticket.Id">
                                                Ver mais
                                            </button>
                                            <!-- Informação -->
                                            <div class="modal fade" id="modalScrollable-@ticket.Id" tabindex="-1" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <div class="text-right">
                                                                <i class="fa fa-close close" data-bs-dismiss="modal" aria-label="Close" data-dismiss="modal"></i>
                                                            </div>
                                                            <div class="px-4 py-5">
                                                                <h5 class="text-uppercase">#@ticket.Id</h5>
                                                                <h4 class="mt-5 theme-color mb-5">@ticket.Titulo</h4>
                                                                <div class="d-flex1 justify-content-between">
                                                                    <span class="theme-color">@ticket.Descricao</span>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <hr class="new1">
                                                                </div>
                                                                <div class="d-flex1 justify-content-between">
                                                                    <span class="font-weight-bold">Criado Em:</span>
                                                                    <span class="text-muted">@ticket.DataCriacao</span>
                                                                </div>
                                                                <div class="d-flex1 justify-content-between">
                                                                    <span class="font-weight-bold">Prioridade:</span>
                                                                    <span class="text-muted">@ticket.Prioridade</span>
                                                                </div>
                                                                <div class="d-flex1 justify-content-between">
                                                                    <span class="font-weight-bold">Status:</span>
                                                                    <span class="text-muted">@ticket.Status</span>
                                                                </div>
                                                                <div class="d-flex1 justify-content-between">
                                                                    <span class="font-weight-bold">Enviado por:</span>
                                                                    <span class="text-muted">@ticket.Solicitante.Nome (@ticket.Solicitante.Email)</span>
                                                                </div>
                                                                <div class="d-flex1 justify-content-between">
                                                                    <span class="font-weight-bold">Departamento:</span>
                                                                    <span class="text-muted">@ticket.Departamento.Nome</span>
                                                                </div>
                                                                <div class="mt-3">
                                                                    <span class="font-weight-bold">Anexos:</span>
                                                                    <br>
                                                                    @if (ticket.Anexos != null)
                                                                    {
                                                                        @foreach (var anexo in ticket.Anexos)
                                                                        {
                                                                            var name = anexo.Endereco.Substring(anexo.Endereco.IndexOf('/') + 1);
                                                                            <a href="~/@anexo.Endereco" download>@name</a>
                                                                            <br />
                                                                        }
                                                                    }
                                                                </div>
                                                            </div>
                                                            <div class="card card-chat @(ticket.Status == TicketStatusEnum.Aberto ? "d-none" : "")">
                                                                <div class="card-header msg_head">
                                                                    <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                                                                    <div class="action_menu">
                                                                        <ul>
                                                                            <li><i class="fas fa-user-circle"></i> View profile</li>
                                                                            <li><i class="fas fa-users"></i> Add to close friends</li>
                                                                            <li><i class="fas fa-plus"></i> Add to group</li>
                                                                            <li><i class="fas fa-ban"></i> Block</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="card-body msg_card_body" id="chat-@ticket.Id"></div>
                                                                @if (ticket.Status != TicketStatusEnum.Concluido && ticket.Status != TicketStatusEnum.Cancelado)
                                                                {
                                                                    <div class="card-footer">
                                                                        <div class="input-group">
                                                                            <div class="input-group-append">
                                                                                <span class="input-group-text attach_btn" data-ticket-id="@ticket.Id"><i class="fas fa-paperclip"></i></span>
                                                                                <input type="file" class="input-attach" id="attach-@ticket.Id" style="display:none;">
                                                                            </div>
                                                                            <textarea id="text-@ticket.Id" class="form-control type_msg" placeholder="Escreva sua mensagem..."></textarea>
                                                                            <div class="input-group-append">
                                                                                <span class="input-group-text send_btn" data-ticket-id="@ticket.Id"><i class="fas fa-location-arrow"></i></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            @if (ticket.Status == TicketStatusEnum.Aberto)
                                                            {
                                                                <form method="post" action="/Tickets/MudarStatus/@ticket.Id?status=@TicketStatusEnum.EmAndamento">
                                                                    <div class="text-center mt-5">
                                                                        <button class="btn btn-primary">Assumir Ticket</button>
                                                                    </div>
                                                                </form>
                                                            }
                                                            else if (ticket.Status == TicketStatusEnum.EmAndamento)
                                                            {
                                                                <form method="post" action="/Tickets/MudarStatus/@ticket.Id?status=@TicketStatusEnum.EmTeste">
                                                                    <div class="text-center mt-5">
                                                                        <button class="btn btn-primary">Colocar para Teste</button>
                                                                    </div>
                                                                </form>
                                                            }
                                                            else
                                                            {
                                                                <br />
                                                            }
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Informação -->
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    window.onload = function () {
        // Evento para abrir o modal e carregar mensagens
        $(".modal-ticket").click(function () {
            var ticketId = $(this).data("ticket-id");
            var url = "/Chat/Mensagens/" + ticketId;
            $.get(url, function (data) {
                $("#chat-" + ticketId).html(data);
                $("#chat-" + ticketId).scrollTop($("#chat-" + ticketId)[0].scrollHeight);
            });
        });

        // Enviar mensagem ao pressionar Enter
        $(".modal").on('keypress', function (e) {
            if (e.which == 13) {
                var ticketId = $(this).find(".send_btn").data("ticket-id");
                $("#enviar-" + ticketId).click();
            }
        });

        // Abrir o input de anexo ao clicar no ícone de clipe
        $(".attach_btn").click(function () {
            var ticketId = $(this).data("ticket-id");
            $("#attach-" + ticketId).click();
        });

        // Enviar anexo
        $(".input-attach").change(function () {
            var ticketId = $(this).attr("id").split('-')[1];
            var fileInput = this;
            if (fileInput.files && fileInput.files[0]) {
                var formData = new FormData();
                formData.append("file", fileInput.files[0]);
                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "/Chat/Upload",
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (retorno) {
                        if (retorno.sucesso) {
                            var url = retorno.sucesso;
                            var filename = fileInput.files[0].name;
                            var html = '<a class="help-button col-sm-4 downloadupaddinvoice" download="' + filename + '" href="../' + url + '" title="Baixar anexo"><i class="icon-download-alt"></i>' + filename + '</a>';
                            var formData = new FormData();
                            formData.append("ticket_id", ticketId);
                            formData.append("msg", html);
                            $.ajax({
                                dataType: "json",
                                type: "POST",
                                url: "/Chat/Enviar",
                                cache: false,
                                contentType: false,
                                processData: false,
                                data: formData,
                                success: function (retorno) {
                                    if (retorno.sucesso) {
                                        $("#text-" + ticketId).val("");
                                        var url = "/Chat/Mensagens/" + ticketId;
                                        $.get(url, function (data) {
                                            $("#chat-" + ticketId).html(data);
                                            $("#chat-" + ticketId).scrollTop($("#chat-" + ticketId)[0].scrollHeight);
                                        });
                                    }
                                }
                            });
                        }
                    }
                });
            }
        });

        // Enviar mensagem
        $(".send_btn").click(function () {
            var ticketId = $(this).data("ticket-id");
            var msg = $("#text-" + ticketId).val();
            var formData = new FormData();
            formData.append("ticket_id", ticketId);
            formData.append("msg", msg);
            $.ajax({
                dataType: "json",
                type: "POST",
                url: "/Chat/Enviar",
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (retorno) {
                    if (retorno.sucesso) {
                        $("#text-" + ticketId).val("");
                        var url = "/Chat/Mensagens/" + ticketId;
                        $.get(url, function (data) {
                            $("#chat-" + ticketId).html(data);
                            $("#chat-" + ticketId).scrollTop($("#chat-" + ticketId)[0].scrollHeight);
                        });
                    }
                }
            });
        });

        // Configuração do DataTable
        $('#Tickets').DataTable({
            ordering: true,
            paging: true,
            searching: true,
            oLanguage: {
                sEmptyTable: "Nenhum registro encontrado na tabela",
                sInfo: "Mostrar _START_ até _END_ de _TOTAL_ registros",
                sInfoEmpty: "Mostrar 0 até 0 de 0 Registros",
                sInfoFiltered: "(Filtrar de _MAX_ total registros)",
                sLengthMenu: "Mostrar _MENU_ registros por pagina",
                sLoadingRecords: "Carregando...",
                sProcessing: "Processando...",
                sZeroRecords: "Nenhum registro encontrado",
                sSearch: "Pesquisar",
                oPaginate: {
                    sNext: "Proximo",
                    sPrevious: "Anterior",
                    sFirst: "Primeiro",
                    sLast: "Ultimo"
                },
                oAria: {
                    sSortAscending: ": Ordenar colunas de forma ascendente",
                    sSortDescending: ": Ordenar colunas de forma descendente"
                }
            }
        });

        // Atualização automática do chat a cada 3 segundos
    @foreach (var ticket in Model.Tickets)
    {
        <text>
                setInterval(function () {
                    var url = "/Chat/Mensagens/@ticket.Id";
                    $.get(url, function (data) {
                        var scroll = $("#chat-@ticket.Id").scrollTop();
                        if ($("#chat-@ticket.Id")[0].scrollHeight - $("#chat-@ticket.Id").scrollTop() == $("#chat-@ticket.Id").outerHeight()) {
                            $("#chat-@ticket.Id").html(data);
                            $("#chat-@ticket.Id").scrollTop($("#chat-@ticket.Id")[0].scrollHeight);
                        } else {
                            $("#chat-@ticket.Id").html(data);
                            $("#chat-@ticket.Id").scrollTop(scroll);
                        }
                    });
                }, 3000);
        </text>
    }
            }
</script>
