@using Tickest.Models.ViewModels;
@using Microsoft.AspNetCore.Identity;
@model IEnumerable<UsuarioListViewModel>;
@inject UserManager<IdentityUser> userManager

@{
    async Task<bool> PodeEditarOuDeletar()
    {
        var user = await userManager.FindByEmailAsync(User.Identity.Name);
        return await userManager.IsInRoleAsync(user, "Gerenciador");
    }
}

@{
    ViewData["Title"] = "Tickest - Usuarios";

    var user = await userManager.FindByEmailAsync(User.Identity.Name);

    if (await userManager.IsInRoleAsync(user, "Gerenciador"))
        Layout = "_LayoutGerenciador";

    else if (await userManager.IsInRoleAsync(user, "Responsavel"))
        Layout = "_LayoutResponsavel";

    else
        Layout = "_Layout";
}

<div class="container">
    <h2>Usuários</h2>
    <p>Usuários cadastrados no sistema:</p>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Cargo</th>
                <th>Departamento</th>
                <th>Área</th>
                @if (await PodeEditarOuDeletar())
                {
                    <th></th>
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {
                <tr>
                    <td>@usuario.Nome</td>
                    <td>@usuario.Email</td>
                    <td>@usuario.Cargo</td>
                    <td>@usuario.Departamento</td>
                    <td>@usuario.Area</td>
                    @if (await PodeEditarOuDeletar())
                    {
                        <td><a href="@Url.Action("Edit", "Usuarios", new { id = usuario.Id })">Editar</a></td>
                        <td><a href="@Url.Action("Delete", "Usuarios", new { id = usuario.Id })">Deletar</a></td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <!-- Começo do Pagination -->
    <div class="mb-4 mb-lg-0" style="margin-left:38%; margin-top:50px">
        <div class="col">
            <div class="demo-inline-spacing">
                <!-- Basic Pagination -->
                <nav aria-label="">
                    <ul class="pagination">
                        <li class="page-item first">
                            <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-left"></i></a>
                        </li>
                        <li class="page-item prev">
                            <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-left"></i></a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="javascript:void(0);">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0);">...</a>
                        </li>
                        <li class="page-item next">
                            <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevron-right"></i></a>
                        </li>
                        <li class="page-item last">
                            <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-right"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- Final do Pagination -->
</div>